body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}
button{
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    

}
img{
    width: 25px;
    height: 25px;
   
}
.search-container input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-container button {
    background-color: #ddd;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.search-container button i {
    font-size: 16px;
    color: #333;
}
